{% extends 'base.html' %}

{% block body %}

<h3 class="text-center my-2">Searchs...</h3>
{% if search_students %}
{% for student in search_students %}
     {% for stud in student %}

<div class="card container " style="width: 18rem;">
     <ul class="list-group list-group-flush">
       <li class="list-group-item">{{stud.student_name}}</li>
       <li class="list-group-item">{{stud.Degree_name}}</li>
       <li class="list-group-item">{{stud.Specialisation}}</li>
       <li class="list-group-item">{{stud.Email}}</li>
     </ul>
   </div>
<hr>
 {% endfor %}  
 {% endfor %}  
{% else %}

<h3 class="text-center my-2">Search Not Found 404.</h3>

{% endif %}



{% endblock body %}


